
.icon {
    border-radius: 300px;
}

.container {
    overflow: hidden;
  }
  
  .left {
    float: left;
    width: 50%;
    box-sizing: border-box;
    padding: 10px;
  }
  
  .right {
    float: right;
    width: 50%;
    box-sizing: border-box;
    padding: 10px;
  }