
.icon {
    border-radius: 300px;
}

.container-home {
    overflow: hidden;
  }
  
  .left-home {
    float: left;
    width: 50%;
    box-sizing: border-box;
    padding: 10px;
  }
  
  .right-home {
    float: right;
    width: 50%;
    box-sizing: border-box;
    padding: 10px;
  }