.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 10%;
    background-color: #464A4D;
    color: white;
  }

  .linkedin {
    display: flex;
    gap: 10%;
  }

  .linkedin_icon {
    height: 50px;
    width: 50px;
    padding: 10px;
  }